body{
  background-image:url("../img/pingPongBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14pt;
  color: #65d065;
  font-family: 'Titan One', cursive;
}
label{
  color: #5C604D;
}
p{
  text-align: center;

}


h1{
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 40pt;
}
h2{
  color: #669966;
}
h4{
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 20pt;
  color: #FFFFFF;
}
ul{
  list-style-type: none;
  text-align: left;
}
li{

  float: left;
  margin-left:1em;
}
input[type=text]{
  font-size: 14pt;
  color: #669966;
}
label{
  color: #FFF;
  font-size: 18pt;
}
.shadow{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
a, a:visited{
  color: #669966;


}
a:hover, a:link, a:active{
  color: #fff;
  text-decoration: none;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 263px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

}
.secondaryContent {
  text-align: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.secondaryContent p{
  text-align: left;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
p {
    margin: 0 0 40px;
}

a.close{
  text-align: center !important;
  color: #ffee68;
}
.pong{
  color: #2A652A;

}
.ping{
  color: #0A3DB1;

}
.pingPong{
  color: #F20026;
}
p.center.pingPong{
    color: #FFFFFF;

}
.panel {
  background-color: rgba(86, 208, 44, 0.5);

}
.panel-body {
    padding: 15px;
}

#pingPongImage{
  width: 150px;
  height: 150px;
}
#submit{
    font-size: 14pt;
}
.output{
  font-size: 24pt;
  color: #FF9200;
  text-align: center;
}
.btn-warning{
  color: #fff;
    background-color: #2A652A;
    border-color: #BED5BE;
}
